$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

// Where should we move this to
.hero-unit.sidekick {
	float: left;
    margin: 50px auto 0 auto;
    width: 200px;
}

.myChart {
	display: block;
	margin: 0 auto;
}

// Entry
.entry {
	float: right;
	margin: 50px 0;
}